<h2>User Profile</h2>

<ul>
  <% @profile.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
</ul>

<div class="field">
  <div class="label">Email</div>
  <div class="email"><%= current_user.email %></div>
</div>