.container
  %h2 New Comment
  %ul
    - @comment.errors.full_messages.each do |message|
      %li= message
  = form_with(model: @comment, url: board_task_comments_path(@task.board), method: 'post', local: true) do |f|
    .field
      - f.label :content
      = f.text_area :content
    .actions
      = f.submit "Submit", class: "btn-primary"
