<div class="container">
  <h2>New Comment</h2>

  <ul>
    <% @comment.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>

  <%= form_with(model: @comment, url: board_task_comments_path(@task.board), method: 'post', local: true) do |f| %>
    <div class="field">
      <% f.label :content %>
      <%= f.text_area :content %>
    </div>

    <div class="actions">
      <%= f.submit "Submit", class: "btn-primary" %>
    </div>
    <% end %>
</div>