@import 'variables';

$card_height: 170px;

.card {
  background-color: $base-bg-color;
  border-radius: $border-radius;
  margin: 20px 0;
  width: $width;
  height: $card_height;
  font-size: $font-size;

  i {
    padding-top: 35px;
    padding-right: 20px;
  }

  &_new {
    width: $width;
    height: $card_height;
    text-align: center;
    border-radius: $border-radius;
    border: dashed 2px $base-bg-color;

    a {
      line-height: $card_height;
    }
  }

  &_inner {
    padding: 30px 20px;
    width: 90%;
  }

  &_title {
    text-decoration: none;
    // 1行で表示させて、続きは「・・・」にするコード
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &_description {
    margin-top: 10px;
    color: $text-second-base-color;
    // 1行で表示させて、続きは「・・・」にするコード
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: $font-size - 2 ;
  }
}

.flex {
  display: flex;
}

// アバターの代わりにid表示中　そのうち削除
.board_name {
  font-size: 12px;
  padding: 20px 0;
}
