@import 'variables';

$card_height: 300px;

.card {
  background-color: $base-bg-color;
  border-radius: $border-radius;
  margin: 20px 0;
  width: $width;
  font-size: $font-size;

  &_title {
    text-decoration: none;
    font-weight: bold;
    font-family: $font-family;
    // 1行で表示させて、続きは「・・・」にするコード
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &_description {
    font-family: $font-family;
    margin: 15px 0;
    color: $text-second-base-color;
    font-size: $font-size - 2 ;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  &_new {
    width: $width;
    font-family: $font-family;
    text-align: center;
    border-radius: $border-radius;
    border: dashed 2px $base-bg-color;

    a {
      line-height: $card_height / 2;
    }

    &_comment {
    width: $width;
    font-family: $font-family;
    font-size: $font-size - 2 ;
    text-align: center;
    border-radius: $border-radius;
    border: dashed 2px $base-bg-color;
    margin-top: 30px;

      a {
        line-height: $card_height / 5;
      }
    }
  }

  &_inner_board {
    padding: 30px 20px;
    width: 90%;
  }

  &_task_inner {
    padding: 15px 20px;
    width: 90%;

    &_title {
      text-decoration: none;
      font-weight: bold;
      font-family: $font-family;
      // 1行で表示させて、続きは「・・・」にするコード
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &_description {
      font-family: $font-family;
      margin: 15px 0;
      color: $text-second-base-color;
      font-size: $font-size - 2 ;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
  }





  &_image {

    img {
      width: $width;
      height: $card_height / 2 ;
      object-fit: cover;
      padding: 15px 15px 0 15px;
      border-radius: $border-radius;
    }
  }
}

.board_flex{
  display: flex;

  &_inner_left {
    padding: 30px 20px;
    width: 95%;
    }

  &_right {
    width: 5%;
  }
}

.task_flex {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 15px 20px;

  &_left {
    position: relative;
  }

  &_right {
    font-size: 12px;
    color: $text-second-base-color;
  }
}

.card_task_description {
  font-family: $font-family;
  margin-top: 10px;
  color: $text-second-base-color;
  // 1行で表示させて、続きは「・・・」にするコード
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: $font-size - 2 ;
}

.task_show_flex {
  display: flex;
  width: $width;
  margin-bottom: 16px;
  width: 90%;

  &_left {
    font-family: $font-family;
    font-size: 18px;
    width: 95%;
  }

  &_right {
    width: 5%;
  }
}

.card-inner_task_description {
  background-color: $base-bg-color;
  border-radius: $border-radius;
  margin: 20px 0;
  padding: 20px 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: $width;
  font-size: $font-size - 2 ;
}

.card_task_image img {
  width: $width;
  height: $card_height / 2 ;
  object-fit: cover;
}

.card_task_deadline {
  width: $width;
  text-align: right;
  font-size: $font-size - 3 ;
}

.card_comment_title {
margin: 30px 0;
font-weight: normal;
font-family: $font-family;
}

.card_comment_flex {
  display: flex;
  width: $width;
  margin: 20px 0;
}

.card_inner_comment {
  width: 85%;
  font-size: $font-size - 4 ;
  padding: 0 10px;
}

.flex_avatar_count {
  display: flex;
  justify-content: space-between;
}