@import 'variables';

$card_height: 300px;

.card {
  background-color: $base-bg-color;
  border-radius: $border-radius;
  margin: 20px 0;
  width: $width;
  font-size: $font-size;

  i {
    padding-top: 35px;
    padding-right: 20px;
  }

  &_new {
    width: $width;
    font-family: $font-family;
    text-align: center;
    border-radius: $border-radius;
    border: dashed 2px $base-bg-color;

    a {
      line-height: $card_height / 2;
    }

    &_comment {
    width: $width;
    font-family: $font-family;
    font-size: $font-size - 2 ;
    text-align: center;
    border-radius: $border-radius;
    border: dashed 2px $base-bg-color;
    margin-top: 30px;

      a {
        line-height: $card_height / 5;

      }
    }
  }

  &_inner_board {
    padding: 30px 20px;
    width: 90%;
  }

  &_inner_task {
    padding: 15px 20px;
    width: 90%;
  }

  &_title {
    text-decoration: none;
    font-weight: bold;
    font-family: $font-family;
    // 1行で表示させて、続きは「・・・」にするコード
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &_description {
    font-family: $font-family;
    margin-top: 10px;
    color: $text-second-base-color;
    font-size: $font-size - 2 ;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  &_image {

    img {
      // position: absolute;
      // top: 50%;
      // left: 50%;
      // -webkit-transform: translate(-50%, -50%);
      // -ms-transform: translate(-50%, -50%);
      // transform: translate(-50%, -50%);
      width: $width;
      height: $card_height / 2 ;
      object-fit: cover;
      padding: 15px 15px 0 15px;
      // border-radius: $border-radius;
    }
  }
}

.flex {
  width: $width;
  display: flex;
  justify-content: space-between;
}

.flex_right {
  // padding-top: 5px;
}

// アバターの代わりにid表示中　そのうち削除
.board_name {
  font-size: 12px;
  padding-top: 20px;
}

.card_task_description {
  font-family: $font-family;
  margin-top: 10px;
  color: $text-second-base-color;
  // 1行で表示させて、続きは「・・・」にするコード
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: $font-size - 2 ;
}

.card_inner_task_title {
  font-family: $font-family;
  font-size: 18px;
  margin-bottom: 16px;
  width: 90%;
}

.card-inner_task_description {
  background-color: $base-bg-color;
  border-radius: $border-radius;
  margin: 20px 0;
  padding: 20px 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: $width;
  font-size: $font-size - 2 ;
}

.card_task_image img {
  width: $width;
  height: $card_height / 2 ;
  object-fit: cover;
  // padding: 15px 15px 0 15px;
}

.card_task_deadline {
  width: $width;
  text-align: right;
  font-size: $font-size - 3 ;
}

.card_comment_title {
margin: 30px 0;
font-weight: normal;
font-family: $font-family;
}

.card_comment {
}

.card_comment_flex {
  display: flex;
  width: $width;
  margin: 10px 0;
}

.comment_icon {
  width: 15%;
}

.card_inner_comment {
  width: 85%;
  font-size: $font-size - 4 ;
}

.flex_avatar_count {
  display: flex;
  // justify-content: space-between;
}